@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Square+Peg&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");

@font-face {
  font-family: sp;
  src: url(/squarepeg.ttf);
}
@font-face {
  font-family: st;
  src: url(/Staatliches-Regular.ttf);
}

.staatliches {
  /* font-family: "Staatliches", sans-serif; */
  font-family: st;
}

.square-peg {
  font-family: sp;
}

/* .square-peg {
  font-family: "Square Peg", cursive;
  font-weight: 400;
  font-style: normal;
} */

.montserrat {
  font-family: "Montserrat", sans-serif;
  /* font-optical-sizing: auto;
  font-style: normal; */
}

.paper {
  background: url(/paper.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.gallerymain {
  background: url(/gallerymain.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bordered {
  /* border-color:#00dc9e ; */
  border-style: dashed;
  border-image-repeat: repeat;
  border-image-slice: 5;
  border-image-source: url("/tline.png");
  margin: 0 0px;
}

.borderedv {
  /* border-color:#00dc9e ; */
  border-style: dashed;
  border-image-repeat: repeat;
  border-image-slice: 5;
  border-image-source: url("/tline2.png");
  margin: 0 0px;
}
/* 
.largeGaps {
  
} */

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
/* 
.scrollhost::-webkit-scrollbar {
  display: none;
}

.scrollhost ::-moz-scrollbar {
  display: none;
}

.scrollhost {
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-color: transparent transparent; 
} */
